.container {
    width: 100%;
    margin: auto;
}

html {
    font-family: Verdana, Arial,sans-serif;
    color: #ecec74;
}

body {
    margin: 0;
    background-color: #051a2c;
}

header {
    float: left;
}

.logo {
    height: 48px;
    width: auto;
}

nav {
    background-color: rgb(23, 40, 65);
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    background-color: rgba(23, 40, 65, 0.74);
    padding: 0 1rem;
    margin: 0;
}

li {
    margin: 0 1rem;
    background-color: rgba(23, 40, 65, 0.74);
}

li a {
    background-color: rgba(23, 40, 65, 0.74);
    color: #ecec74;
    width: 100%;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(43, 43, 107);
}

.contact-us {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
    color: #ecec74;
    border-radius: 8px;
    margin: 1rem auto;
    max-width: 1000px;
    align-items: flex-start;

}

.contact-details {
    flex: 1;
    max-width: 350px;

}

.contact-details p {
    margin: 0;
    padding-bottom: 1rem;
}

.contact-details a {
    color: #eeeee5;
    font-style: italic;
    text-decoration: none;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecec74;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

aside {
    flex: 1;
    max-width: 600px;
}

aside img {
    width: 100%;
    border-radius: 8px;
}

aside a {
    color: #eeeee5;
    font-style: italic;
    text-decoration: none;
}
footer {
    background-color:rgb(23, 40, 65);
    padding: 1rem;
    width: 100%;
}

form {
    background-color: #172841;
    width: 100%;
    display: flex;



}

footer from input[type="submit"]{
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

footer form input[type="submit"]:hover {
    background: #ecec74;
}

.map-caption{
    text-align: center;
}
@media (max-width: 768px) {
    .contact-us {
        flex-direction: column;
        align-items: center;
    }

    .contact-details, aside {
        max-width: 100%;
    }
}
